Source: sixaxisd
Section: misc
Priority: optional
Maintainer: Alexander Chukov <sashz@pdaXrom.org>
Build-Depends: cdbs, debhelper (>= 5), libbluetooth-dev
Standards-Version: 1.0
Homepage: http://www.pdaXrom.org

Package: sixaxisd
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: PS3 sixaxis controller daemon
