# make the first rtc device the default one
KERNEL=="rtc0",			SYMLINK="rtc"

# serial devices
KERNEL=="ttyS[0-9]*",		NAME="tts/%n"
KERNEL=="ttyUSB[0-9]*",		NAME="tts/USB%n"
KERNEL=="rfcomm[0-9]*",		NAME="bluetooth/rfcomm/%n",
KERNEL=="capi",			NAME="capi20", SYMLINK+="isdn/capi20"
KERNEL=="capi[0-9]*",		NAME="capi/%n"

# vc devices
KERNEL=="tty[0-9]*",		NAME="vc/%n"
KERNEL=="vcs",			NAME="vcc/0"
KERNEL=="vcs[0-9]*",		NAME="vcc/%n"
KERNEL=="vcsa",			NAME="vcc/a0"
KERNEL=="vcsa[0-9]*",		NAME="vcc/a%n"

# video devices
KERNEL=="video[0-9]*",		NAME="v4l/%k"
KERNEL=="radio[0-9]*",		NAME="v4l/%k"
KERNEL=="vbi[0-9]*",		NAME="v4l/%k"
KERNEL=="vtx[0-9]*",		NAME="v4l/%k"
KERNEL=="dvb*",			PROGRAM="/bin/sh -c 'K=%k; K=$${K#dvb}; printf dvb/adapter%%i/%%s $${K%%%%.*} $${K#*.}", ACTION=="add", \
				NAME="%c"
KERNEL=="fb[0-9]*",		NAME="fb/%n"
KERNEL=="card[0-9]*",		NAME="dri/%k"

# misc devices
KERNEL=="apm_bios",		NAME="misc/%k",
KERNEL=="agpgart",		NAME="misc/%k"
KERNEL=="hw_random",		NAME="hwrng"
KERNEL=="nvram",		NAME="misc/%k"
KERNEL=="psaux",		NAME="misc/%k"
KERNEL=="rtc",			NAME="misc/%k"
KERNEL=="tun",			NAME="net/%k"
KERNEL=="evtchn",		NAME="xen/%k"

# printers and parallel devices
KERNEL=="lp[0-9]*",		NAME="printers/%n"
KERNEL=="parport[0-9]*",	NAME="parports/%n"

KERNEL=="i2c-[0-9]*",		NAME="i2c/%n"
KERNEL=="fd[0-9]*",		NAME="floppy/%n"

KERNEL=="cdemu[0-9]*",		NAME="cdemu/%n"
KERNEL=="pktcdvd[0-9]*",	NAME="pktcdvd/%n"
KERNEL=="pktcdvd",		NAME="pktcdvd/control"

KERNEL=="cpu[0-9]*",		NAME="cpu/%n/cpuid"
KERNEL=="msr[0-9]*",		NAME="cpu/%n/msr"
KERNEL=="microcode",		NAME="cpu/microcode"

KERNEL=="umad*",		NAME="infiniband/%k"
KERNEL=="issm*",		NAME="infiniband/%k"
KERNEL=="uverbs*",		NAME="infiniband/%k"
KERNEL=="ucm*",			NAME="infiniband/%k"
KERNEL=="rdma_ucm",		NAME="infiniband/%k"

# sound devices
KERNEL=="controlC[0-9]*",	NAME="snd/%k"
KERNEL=="hwC[D0-9]*",		NAME="snd/%k"
KERNEL=="pcmC[D0-9cp]*",	NAME="snd/%k"
KERNEL=="midiC[D0-9]*",		NAME="snd/%k"
KERNEL=="timer",		NAME="snd/%k"
KERNEL=="seq",			NAME="snd/%k"
KERNEL=="audio*",		NAME="sound/%k"
KERNEL=="dsp*",			NAME="sound/%k"
KERNEL=="adsp*",		NAME="sound/%k"
KERNEL=="midi*",		NAME="sound/%k"
KERNEL=="mixer*",		NAME="sound/%k"
KERNEL=="sequencer*",		NAME="sound/%k"
KERNEL=="amidi*",		NAME="sound/%k"
KERNEL=="dmmidi*",		NAME="sound/%k"
KERNEL=="admmidi*",		NAME="sound/%k"

# ieee1394 devices       
KERNEL=="dv1394*",		NAME="dv1394/%n"
KERNEL=="video1394*",		NAME="video1394/%n"

# input devices
KERNEL=="mice",			NAME="input/%k"
KERNEL=="mouse[0-9]*",		NAME="input/%k"
KERNEL=="event[0-9]*",		NAME="input/%k"
KERNEL=="js[0-9]*",		NAME="input/%k"
KERNEL=="ts[0-9]*",		NAME="input/%k"
KERNEL=="uinput",		NAME="input/%k"

# modprobe
ACTION=="add", ENV{MODALIAS}=="?*", RUN+="/sbin/modprobe $env{MODALIAS}"

# block devices
SUBSYSTEM=="block", ACTION=="add"    RUN+="/etc/udev/scripts/mount.sh"
SUBSYSTEM=="block", ACTION=="remove" RUN+="/etc/udev/scripts/mount.sh"

# network devices
KERNEL=="tun", NAME="net/%k"
SUBSYSTEM=="net", ACTION=="add", RUN+="/etc/udev/scripts/net.sh"
SUBSYSTEM=="net", ACTION=="remove", RUN+="/etc/udev/scripts/net.sh"
