[Desktop Entry]
Name=Yudit
Comment=Unicode editor
Exec=yudit
Icon=gnome-yudit.png
Terminal=0
Type=Application
Categories=Application;Office;WordProcessor;
StartupNotify=False
SingleInstance=False
