[Desktop Entry]
Encoding=UTF-8
Type=Application
Exec=lyx
Icon=lyx.xpm
Comment=A Document Processor
Name=Lyx
Terminal=false
Categories=Application;Office;WordProcessor;
StartupNotify=False
