--- linux-2.6.16/arch/mips/Kconfig~	2006-06-04 01:38:43.000000000 +0000
+++ linux-2.6.16/arch/mips/Kconfig	2006-06-04 01:38:57.000000000 +0000
@@ -536,6 +536,7 @@
 	select SYS_HAS_CPU_MIPS32_R1
 	select SYS_SUPPORTS_32BIT_KERNEL
 	select SYS_SUPPORTS_BIG_ENDIAN
+	select SYS_SUPPORTS_LITTLE_ENDIAN
 	help
 	  Qemu is a software emulator which among other architectures also
 	  can simulate a MIPS32 4Kc system.  This patch adds support for the
