[Desktop Entry]
Name=GTKTerm2
Comment=GTK2 Terminal with tabs
Exec=gtkterm2
Terminal=0
Type=Application
Icon=gtkterm2.png
Categories=Applications
StartupNotify=True
SingleInstance=False
