[Desktop Entry]
Name=Web Browser
Comment=Web Browser
Exec=webbrowser
Terminal=false
MultipleArgs=false
Type=Application
Icon=web-browser
Categories=Network
SingleInstance=true
StartupNotify=true
OnlyShowIn=KDE
