[Desktop Entry]
Name=SuperTux
Comment=SuperTux is a classic 2D jump'n run sidescroller game in a style similar to the original SuperMario games.
Exec=supertux
Icon=supertux.png
Terminal=0
Type=Application
Categories=Games
StartupNotify=False
SingleInstance=False
