[Desktop Entry]
Categories=Application;Office;WordProcessor;
Comment=An addressbook 
Comment[de]=Adressbuch
Exec=/usr/lib/qt/kdepimpi/kapi
GenericName=
GenericName[de]=
Icon=/usr/lib/qt/kdepimpi/kdepim/kaddressbook/kaddressbook.png
MimeType=
Name=KAddressBook/Pi
Name[de]=KAdressBuch/Pi
ServiceTypes=Application
StartupNotify=true
Terminal=false
TerminalOptions=
TryExec=/usr/lib/qt/kdepimpi/kapi
Type=Application
X-DCOP-ServiceType=
X-KDE-SubstituteUID=false
X-KDE-Username=
