[Desktop Entry]
Categories=Application;Office;WordProcessor;
Comment=Password manager
Comment[de]=Password Manager
Exec=/usr/lib/qt/kdepimpi/pwmpi
GenericName=
GenericName[de]=
Icon=/usr/lib/qt/kdepimpi/kdepim//pwmanager/pwmanager.png
MimeType=
Name=PasswordManager/Pi
Name[de]=PasswordManager/Pi
ServiceTypes=Application
StartupNotify=true
Terminal=false
TerminalOptions=
TryExec=/usr/lib/qt/kdepimpi/pwmpi
Type=Application
X-DCOP-ServiceType=
X-KDE-SubstituteUID=false
X-KDE-Username=
