[Desktop Entry]
Name=mtPaint
GenericName=mtPaint
Comment=Simple painting program
Exec=mtpaint
Icon=mtpaint.png
Type=Application
Terminal=false
StartupNotify=True
Encoding=UTF-8
Categories=Application;Graphics;
